.theme-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--form-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  width: 3.5em;
  height: 3.5em;
}

.theme-button:hover {
  transform: scale(1.1);
}

.icon-theme {
  width: 30px;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .theme-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .theme-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
