.cgu-title {
  text-align: center;
  padding-top: 2em;
}
.cgu-container {
  height: 65%;
  overflow-y: auto;
  margin: 2em 2em;
}
.cgu-container h2 {
  font-family: var(--text-font);
  color: white;
  font-size: 1.5em;
}
.cgu-container p {
  font-family: var(--text-font);
  color: white;
  font-size: 1.25em;
  font-weight: 300;
}

/* Styles pour la scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--jet-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--ash-grey-color);
  border-radius: 20px;
  border: 3px solid var(--ash-grey-color);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cgu-title {
    padding-top: 0;
  }
  .cgu-container {
    margin-top: 2em;
    width: 70vw;
    height: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .cgu-title {
    padding-top: 0;
  }
  .cgu-container {
    margin-top: 3em;
    width: 70vw;
    height: 80%;
  }
}
