@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Poiret+One&display=swap");
@font-face {
  font-family: "Meaglez";
  src: local("Meaglez"), url(./assets/fonts/Meaglez-1G7e2.otf)
    format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --jet-color: #313332;
  --mustard-color: #fdd648;
  --ash-grey-color: #d9d9d9;
  --text-font: "Darker Grotesque", serif;
  --little_title-font: "Poiret One", sans-serif;
  --big_title-font: "Meaglez", sans-serif;
  --color: white;
  --main-text-size: 16px;
}

body {
  font-family: var(--text-font);
  font-size: var(--main-text-size);
  line-height: 1.7;
  color: white;
  margin: 0;
}

#root {
  height: 100vh;
  background-color: var(--jet-color);
}

h1,
h2 {
  font-family: var(--big_title-font);
  color: var(--mustard-color);
}

h3,
h4 {
  font-family: var(--little_title-font);
}
