@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Poiret+One&display=swap");
@font-face {
  font-family: "Meaglez";
  src: local("Meaglez"), url(./assets/fonts/Meaglez-1G7e2.otf)
    format("opentype");
}

/* mobile screen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --jet-color: #313332;
  --mustard-color: #fdd648;
  --ash-grey-color: #d9d9d9;
  --underside-color: #202221;
  --text-font: "Darker Grotesque", serif;
  --little_title-font: "Poiret One", sans-serif;
  --big_title-font: "Meaglez", sans-serif;
  --color: white;
  --main-text-size: 0.8em;
}
/* Je déclare mes variables pour le light mode/dark mode */
.theme.light {
  --bg-color: var(--ash-grey-color);
  --text-color: var(--jet-color);
  --button-color: var(--jet-color);
  --button-yellow: var(--mustard-color);
  --form-color: white;
  --footer-color: var(--ash-grey-color);
}
.theme.dark {
  --bg-color: var(--jet-color);
  --text-color: var(--ash-grey-color);
  --button-color: var(--mustard-color);
  --button-yellow: var(--mustard-color);
  --form-color: var(--underside-color);
  --footer-color: var(--jet-color);
}

#root {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.Toastify__toast.toast-light {
  background-color: var(--jet-color);
  color: white;
  font-family: var(--little_title-font);
  font-size: 1.2em;
  font-weight: 600;
}

.Toastify__toast.toast-dark {
  background-color: var(--ash-grey-color);
  color: var(--jet-color);
  font-family: var(--little_title-font);
  font-size: 1.2em;
  font-weight: 600;
}

/* Pour la barre de progression */
.Toastify__toast.toast-light .Toastify__progress-bar,
.Toastify__toast.toast-dark .Toastify__progress-bar {
  background-color: var(--mustard-color);
}

body {
  font-family: var(--text-font);
  font-size: var(--main-text-size);
  line-height: 1.7;
  color: var(--text-color);
  margin: 0;
}

h1,
h2 {
  font-family: var(--big_title-font);
  color: var(--button-color);
}

h3,
h4 {
  font-family: var(--little_title-font);
  color: var(--button-color);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p,
a {
  font-size: 1.2em;
}

nav {
  display: none;
}

.link-logo {
  z-index: 1;
}

.narrow-logo {
  height: 8vh;
}

.logo {
  display: none;
}

main {
  height: 92vh;
  width: 100%;
  padding: 0;
  justify-items: center;
}

.narrow-nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logout-btn {
  color: var(--text-color);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* tablette screen */
  nav {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 0 10%;
  }
  .logo {
    display: block;
    height: 13vh;
  }
  .narrow-logo {
    display: none;
  }
  .narrow-nav {
    display: none;
  }
  main {
    height: 87vh;
    padding-left: 0.6em;
  }
  footer {
    height: 5vh;
    width: 100%;
    background-color: var(--bg-color);
  }
}

@media screen and (min-width: 1024px) {
  /* desktop screen */
  nav {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 0 10%;
  }
  .logo {
    display: block;
    height: 13vh;
    margin-top: 0.5em;
  }
  .narrow-logo {
    display: none;
  }
  .narrow-nav {
    display: none;
  }
  main {
    padding: 0 30%;
    height: 87vh;
  }
  footer {
    height: 5vh;
    width: 100%;
  }
}
