.back-btn {
  height: 2.5em;
  width: 8em;
  align-self: center;
  font-family: var(--text-font);
  font-size: 1em;
  background-color: var(--mustard-color);
  border-radius: 12px;
  cursor: pointer;
  margin-top: 8em;
  border: solid .5px var(--jet-color);
  transition: all ease-in-out 0.25s;
  scale: 1.02;
  /* position: relative; */
}

.back-btn:hover {
  background-color: dark;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(72, 77, 109, 0.2);
  scale: calc(1.02);
}

.back-btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.artwork-section {
  padding: 20% 10% 1% 10%;
  min-width: 90%;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork-container {
  height: 75%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

img.artwork-img {
  height: 15rem;
}

.infos {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.infos p {
  color: var(--text-color);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .back-btn {
    margin-top: 2em;
  }
  .artwork-section {
    padding: 7% 0% 3% 0%;
    max-height: 90%;
  }
  img.artwork-img {
    height: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .back-btn {
    margin-top: 2em;
  }
  .artwork-section {
    padding: 7% 0% 3% 0%;
    max-height: 90%;
    flex-direction: column;
    width: 90vw;
  }
  img.artwork-img {
    height: 25rem;
  }
  .artwork-container {
    flex-direction: row;
    gap: 15px;
    width: 85vw;
  }
  .container-details {
    flex-direction: column;
  }
}
