.artworkForm {
  min-height: 50%;
  min-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
}

/* Labels */
.artworkForm label {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  font-size: 14px;
  color: var(--button-color);
}

/* Champs input */
.addArt {
  height: 2.5em;
  border: none;
  border-radius: 12px;
  font-family: var(--text-font);
  background-color: var(--form-color);
  text-align: left;
  color: var(--text-color);
  padding-left: 10px;
  margin-top: 5px;
}

.addArt:focus {
  outline: none;
  border: 1px solid;
  border-color: var(--mustard-color);
  box-shadow: 0 0 0 3px rgba(183, 227, 204, 0.2);
}

.addType {
  height: 2.5em;
  font-family: var(--text-font);
  color: var(--footer-color);
  border-radius: 12px;
  background-color: var(--text-color);
  text-align: center;
  cursor: pointer;
}

.addType:focus {
  outline: none;
  border-color: var(--mustard-color);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: var(--mustard-color);
  border-radius: 50%;
  margin-right: 5px;
}

.add-btn {
  height: 2.5em;
  width: 8em;
  align-self: center;
  font-family: var(--text-font);
  font-size: 1em;
  background-color: var(--mustard-color);
  border-radius: 12px;
  cursor: pointer;
  margin-top: 1em;
  border: solid .5px var(--jet-color);
  transition: all 0.3s ease;
  scale: 1.02;
}

.add-btn:hover {
  background-color: dark;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(72, 77, 109, 0.2);
}

.add-btn:active {
  transform: translateY(0);
  box-shadow: none;
}
