.add_artwork {
  height: 85%;
  padding: 20% 10% 1% 10%;
  overflow-y: auto;
}

.presentation_add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation_add p {
  padding-bottom: 10px;
  color: var(--text-color);
}

.error_add {
  text-align: center;
  padding-bottom: 20em;
}

.thankyou {
  color: var(--button-color);
  text-align: center;
  margin-top: 1em;
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .add_artwork {
    padding: 7% 0% 3% 0%;
    width: 65vw;
    height: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .add_artwork {
    padding: 7% 0% 3% 0%;
    width: 55vw;
    height: 100%;
  }
}
