.search-sct {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mustard-color);
  font-family: "Dark Grotesque", sans-serif;
  font-size: 1em;
}
.citySearch {
  width: 40em;
  height: 3em;
  border: solid black 1px;
  border-radius: 5px;
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.btn-search {
  margin: 0;
  width: 8em;
  height: 3em;
  background-color: var(--mustard-color);
  color: var(--jet-color);
  border: solid var(--jet-color) 1px;
  border-radius: 12px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: bold;
  font-size: .8rem;
}
form {
  display: flex;
  flex-direction: column;
}
form button {
  text-align: center;
  margin: .5em 0;
  border: transparent;
  background-color: transparent;
  color: var(--mustard-color);
}
