.authpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 20% 0%;
  width: 60vw;
}
.btn-section {
  display: flex;
  gap: 2em;
}

.signup-btn,
.signin-btn {
  display: flex;
  border: 1px solid var(--text-color);
  font-family: var(--text-font);
  border-radius: 12px;
  height: 2.5em;
  width: 7.5em;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--text-color);
}
.signup-btn:hover,
.signin-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .authpage {
    padding: 7% 0% 3% 0%;
    width: 50vw;
  }
  .signin-btn,
  .signup-btn {
    width: 8.5em;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) {
  .authpage {
    padding: 0;
    width: 45vw;
  }
  .signin-btn,
  .signup-btn {
    width: 9em;
    font-size: 1.3em;
  }
}
