.carousel-card {
  padding: 1em;
  height: 300px;
  text-align: center;
  text-decoration: none;
}
.carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slick-slider {
  width: 70%;
}
.slick-slide img {
  display: initial !important;
}

.carousel-card p {
  font-size: 1em;
  font-family: var(--little_title-font);
  text-align: center;
  color: var(--text-color);
}

.slick-prev:before,
.slick-next:before {
  color: var(--text-color) !important;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-card {
    width: 15em;
    height: 15em;
  }
  .carousel-card p {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1023px) {
  .carousel-card {
    width: 15em;
    height: 15em;
  }
  .carousel-card p {
    font-size: 0.9em;
  }
}
