.profile-sct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7em;
}
.profile-sct img {
  width: 100px;
  height: auto;
}
.profile-sct h3 {
  margin-left: 1em;
  text-align: left;
}
.profile-sct p {
  height: 3em;
  width: 25em;
  padding: .5em;
  margin: .5em;
  border-radius: 12px;
  font-family: var(--text-font);
  background-color: #202221;
  text-align: left;
  color: var(--mustard-color);
}
#profile-edit-pseudo {
  height: 3em;
  width: 320px;
  padding: .5em;
  margin: .5em;
  border-radius: 12px;
  font-family: var(--text-font);
  background-color: #202221;
  text-align: left;
  color: var(--mustard-color);
  border-width: 0;
}
.save-btn {
  height: 2.5em;
  width: 8em;
  align-self: center;
  font-family: var(--text-font);
  font-size: 1em;
  background-color: var(--mustard-color);
  border-radius: 12px;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile-sct {
    width: 65vw;
    padding-top: 2em;
  }
  .profile-sct img {
    width: 125px;
    height: auto;
  }
  .profile-sct p {
    height: 3em;
    width: 30em;
    padding: .5em;
    margin: .5em;
    border-radius: 12px;
    font-family: var(--text-font);
    background-color: #202221;
    text-align: left;
    color: var(--mustard-color);
  }
  #profile-edit-pseudo {
    width: 384px;
  }
}

@media screen and (min-width: 1024px) {
  .profile-sct {
    width: 65vw;
    padding-top: 2em;
  }
  .profile-sct img {
    width: 125px;
    height: auto;
  }
  .profile-sct p {
    height: 3em;
    width: 30em;
    padding: .5em;
    margin: .5em;
    border-radius: 12px;
    font-family: var(--text-font);
    background-color: #202221;
    text-align: left;
    color: var(--mustard-color);
  }
  #profile-edit-pseudo {
    width: 384px;
  }
}
