.citySearch {
  height: 3em;
  min-width: 20em;
  font-family: var(--text-font);
  border: none;
  border-radius: 12px;
  background-color: var(--form-color);
  text-align: center;
  color: var(--text-color);
  margin-bottom: 1em;
}

.citySearch:focus {
  outline: none;
  border-color: var(--mustard-color);
  box-shadow: 0 0 0 3px rgba(183, 227, 204, 0.2);
}

.search-btn {
  height: 2.5em;
  width: 8em;
  align-self: center;
  font-family: var(--text-font);
  font-size: 1em;
  font-weight: 400;
  background-color: var(--button-yellow);
  color: var(--jet-color);
  border: solid .5px var(--jet-color);
  border-radius: 12px;
  cursor: pointer;
}

.search-btn:hover {
  transition: all ease-in-out .25s;
  scale: calc(1.02);
  box-shadow: 0 4px 12px rgba(72, 77, 109, 0.2);
}

.search-btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.searchBar {
  display: flex;
  flex-direction: column;
}

.searchGeo {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .search-btn {
    background-color: var(--button-yellow);
    border: solid .5px var(--jet-color);
    color: var(--jet-color);
    align-self: baseline;
    margin-left: 2em;
    border: solid .5px var(--jet-color);
  }
  .searchGeo {
    display: flex;
    flex-direction: column;
  }
  .citySearch {
    width: 30em;
  }
}

@media screen and (min-width: 1024px) {
  .citySearch {
    width: 40em;
  }
  .searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .search-btn {
    background-color: var(--button-yellow);
    border: solid .5px var(--jet-color);
    color: var(--jet-color);
    align-self: baseline;
    margin: 0 2em;
  }
  .searchGeo {
    display: flex;
    flex-direction: column;
  }
}
