.navbar-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6vh;
  width: 92%;
  margin-top: 0.5em;
}

.navbar-icon img {
  height: 3.5vh;
}

.box-divider {
  border: 1px solid var(--mustard-color);
  border-radius: 5px;
}

hr {
  display: block;
  border: 1px solid var(--mustard-color);
  height: 4vh;
}

.vertical-divider {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-icon {
    width: 25%;
  }
  .vertical-divider {
    display: block;
    border: 1px solid var(--mustard-color);
    height: 4vh;
  }
  .box-divider {
    border: none;
  }
}
@media screen and (min-width: 1024px) {
  .navbar-icon {
    width: 20%;
  }
  .vertical-divider {
    display: block;
    border: 1px solid var(--mustard-color);
    height: 4vh;
  }
  .box-divider {
    border: none;
  }
}
